# Домен, который обслуживается хостовым nginx (SSL, Certbot)
# Запекается в бандл Vite при сборке образа web
VITE_API_URL=https://some_domain

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=max_hack